.hero__subtitle img {
  width: 3.3rem;
  height: 3.3rem;
  margin-left: 10px;
}
.know-css {
  padding: 10px;
  background-color: rgb(244, 244, 22);
  height: 55px;
  border-radius: 25px;
}

.hero__content h1 {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 10px;
  background-color: yello;
  border-radius: 35%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(-heading-color);
}

.hero__content h1 .highlight {
  color: rgb(223, 223, 26);
}

.hero__content p {
  font-size: 1.1rem;
  color: var(-text-color);
  line-height: 2rem;
}
.hero__img-box img {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  border: 1px solid;
  border-color: gray;
  object-fit: cover;
}
.hero__content {
  padding-top: 3.5rem;
}
.hero__img-box {
  padding-top: 2rem;
}
.services__subtitle {
  font-size: 30px;
  font-weight: 500;
  color: #ee6e6e;
  background-color: rgb(244, 244, 22);
  width: 240px;
  height: 40px;

  padding-left: 10px;
  border-radius: 20px;
  font-style: italic;
}
.services__title {
  font-size: 2.2rem;
  font-weight: 500;
}
.featured__tour-title {
  font-size: 2.3rem;
  font-weight: 500;
}
.subtitle__explore {
  background-color: yellow;
  width: 150px;
  padding-left: 14px;
  border-radius: 31%;
  font-size: 2.2rem;
}

.experience__content h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
  font-weight: 500;
}
.experience__content p {
  font-style: 1.1rem;
  color: black;
  margin-top: 1rem;
}
.counter__wrapper {
  margin-top: 2.5rem;
}
.counter__box span {
  width: 70px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ee6e6e;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 10px 5px 10px 5px;
}
.counter__box h6 {
  font-size: 1.1rem;
  margin-top: 0.7rem;
  color: black;
}
.experience__img img {
  width: 300px;
  height: 379px;
  padding: 10px;
  border-radius: 100px;
}
.gallery__title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}
.masonry__img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.masonry__img :hover {
  transform: scale(1.5);
}
.testimonial__title {
  font-size: 2.3rem;
  margin-top: 1rem;
}
