.hotel-css {
  border-radius: 0.5rem;

  border: 1px solid rgb(229, 231, 235);
  margin-top: 20px;
  padding: 2rem;
}
.heading-css {
  text-align: center;
  color: rgb(238, 138, 15);
}
.card__body {
  background-color: rgba(240, 236, 236, 0.897);
}

.hotel__img img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.card {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.hotel__img {
  position: relative;
}

.hotel__img span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: max-content;
  height: max-content;
  z-index: 10;
  background: rgb(238, 75, 15);
  color: #fff;
  /* padding: 0.3rem 0.5rem; */
  border-radius: 3px 0 0 0;
}
.card__top span i {
  color: blue;
}
.hotel__rating {
  font-size: 0.9rem;
  color: rgb(238, 75, 15);
}
.hotel__location {
  color: rgb(238, 75, 15);
  font-weight: 500;
  font-size: 0.9rem;
}
.hotel rating,
.tour__location {
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.hotel__title a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.hotel__title a:hover {
  color: rgb(238, 75, 15);
}
.card__bottom h5 {
  font-weight: 700;
  color: rgb(238, 75, 15);
  font-size: 1.1rem;
}

.card__bottom h5 span {
  font-weight: 500;
  color: black;
  font-size: 0.8rem;
}
.booking__btn {
  background: rgb(238, 138, 15) !important;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.booking__btn a {
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
}
.booking__btn a:hover {
  color: black;
}
